/week1-000.Sandbox/nbproject/private/
/week1-003.Spruce/nbproject/private/
/week1-002.HelloWorld/nbproject/private/
/week1-001.Name/nbproject/private/
/week1-004.ChangingVariables/nbproject/private/
/week1-008.Adder/nbproject/private/
/week1-007.Multiplication/nbproject/private/
/week1-005.SecondsOfTheYear/nbproject/private/
/week1-006.Addition/nbproject/private/
/week1-009.Divider/nbproject/private/
/week1-010.CircleCircumference/nbproject/private/
/week1-012.SumOfTheAges/nbproject/private/
/week1-011.BiggerNumber/nbproject/private/
/week1-013.NhlStatisticsPart1/nbproject/private/
/week1-014.PositiveValue/nbproject/private/
/week1-016.EvenOrOdd/nbproject/private/
/week1-017.GreaterNumber/nbproject/private/
/week1-015.AgeOfMajority/nbproject/private/
/week1-018.GradesAndPoints/nbproject/private/
/week1-021.LeapYear/nbproject/private/
/week1-019.AgeCheck/nbproject/private/
/week1-020.Usernames/nbproject/private/
/week1-023.Temperatures/nbproject/private/
/week1-022.Password/nbproject/private/
/week2-025.SumOfThreeNumbers/nbproject/private/
/week1-024.NhlStatisticsPart2/nbproject/private/
/week2-026.SumOfManyNumbers/nbproject/private/
/week2-027.FromOneToHundred/nbproject/private/
/week2-028.FromHundredToOne/nbproject/private/
/week2-030.UpToCertainNumber/nbproject/private/
/week2-029.EvenNumbers/nbproject/private/
/week2-032.TheSumOfSetOfNumbers/nbproject/private/
/week2-031.LowerLimitAndUpperLimit/nbproject/private/
/week2-034.Factorial/nbproject/private/
/week2-037.PrintingOutText/nbproject/private/
/week2-033.TheSumBetweenTwoNumbers/nbproject/private/
/week2-036.LoopsEndingRemembering/nbproject/private/
/week2-035.SumOfThePowers/nbproject/private/
/week2-039.Printing/nbproject/private/
/week2-038.ManyPrints/nbproject/private/
/week2-040.PrintingLikeboss/nbproject/private/
/week2-041.GuessingNumberGame/nbproject/private/
/week1-002.HelloWorld/build/